# vim: ft=sshconfig

Host foo
  User Luiz
  Hostname foo.bar.com

Match host foo,*.bar.com !exec "[ -e ~/.ssh/master-%r@%h:%p ]"
  RemoteForward /run/user/1000/gnupg/S.gpg-agent /Users/luizribeiro/.gnupg/S.gpg-agent.extra
  RemoteForward 52698 127.0.0.1:52698
