<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0EE92F5E-397C-4741-A00C-8B4A6427E21D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C1346CE-7A4E-45D6-A284-9E72BE644CAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7E751044-94F2-4355-BFE9-B37B6DC0002D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F741C110-500F-4BAD-8D64-77478FD05064</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B6F4AB5-C3A5-4F39-B4CE-8537696FDBC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C1346CE-7A4E-45D6-A284-9E72BE644CAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B3A8B478-C6EC-46F1-8FB7-06EEA1A6A18B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A8B2F0D-AE77-4E69-A15A-FB7757250F65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D62834A9-6F5F-427F-9CF2-0E341E0B3B1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8A0EFB7-9FE5-45CC-A416-E034C6471503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F575F413-18C6-4F6E-AA0D-AB100C2CE970</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE75A33A-D7BA-4DD0-84BF-E488D128CE1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luiz Ribeiro</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Luiz's</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7E751044-94F2-4355-BFE9-B37B6DC0002D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Spotify.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F741C110-500F-4BAD-8D64-77478FD05064</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F575F413-18C6-4F6E-AA0D-AB100C2CE970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Messenger.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>FE75A33A-D7BA-4DD0-84BF-E488D128CE1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9A8B2F0D-AE77-4E69-A15A-FB7757250F65</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B3A8B478-C6EC-46F1-8FB7-06EEA1A6A18B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9B6F4AB5-C3A5-4F39-B4CE-8537696FDBC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0C1346CE-7A4E-45D6-A284-9E72BE644CAB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0EE92F5E-397C-4741-A00C-8B4A6427E21D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D62834A9-6F5F-427F-9CF2-0E341E0B3B1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F8A0EFB7-9FE5-45CC-A416-E034C6471503</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C1346CE-7A4E-45D6-A284-9E72BE644CAB</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>0EE92F5E-397C-4741-A00C-8B4A6427E21D</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>7E751044-94F2-4355-BFE9-B37B6DC0002D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9A8B2F0D-AE77-4E69-A15A-FB7757250F65</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9B6F4AB5-C3A5-4F39-B4CE-8537696FDBC0</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B3A8B478-C6EC-46F1-8FB7-06EEA1A6A18B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D62834A9-6F5F-427F-9CF2-0E341E0B3B1B</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>F575F413-18C6-4F6E-AA0D-AB100C2CE970</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F741C110-500F-4BAD-8D64-77478FD05064</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F8A0EFB7-9FE5-45CC-A416-E034C6471503</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>FE75A33A-D7BA-4DD0-84BF-E488D128CE1B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
