snippet aw "Awaitable<*>"
Awaitable<${VISUAL:void}>
endsnippet

snippet fn "[public] function x(): void {"
${1:public} function ${2}(${3}): ${4:void} {
	${0: // TODO @nocommit}
}
endsnippet

snippet lm "() ==> {}"
(${1}) ==> ${0}
endsnippet
